_actions
_PipelineMapping
.env
.secrets
*.agekey
*.bak
*.crt
*.db
*.db-shm
*.db-wal
*.decrypted*
*.domains
*.gsb
*.gz
*.key
*.log
*.pem
*.rdb
*.sha1
*.sqlite
*.sqlite3
*.swp
*[cC][lL][aA][uU][dD][eE]*
*[gG][eE][mM][iI][nN][iI]*
*copy*
acme.json
cli_pw
config_backups
config.yaml
dhcp.leases
docker/adguard/*/*.yaml
docker/adguard/work
docker/authelia/*.txt
docker/authelia/*.yaml
docker/authelia/*.yml
docker/crowdsec
docker/external-dns/data/
docker/gatus/data
docker/golink/.config
docker/golink/Caddyfile
docker/ntfy/config/server.yml
gravity_backups
gravity.db_temp*
id_*
keys.json
letsencrypt
migration_backup
node_modules
portainer
sed*
setupVars.conf
tailscale
upload/
