# Environment file
.env

# vim
*.swp

# Let's Encrypt
acme.json
letsencrypt/

# Pi-hole
*.bak
*.db
*.domains
*.sha1
dhcp.leases
setupVars.conf

# ignore app data
app/nginx-proxy-manager
app/portainer
app/unifi-db
app/unifi-network-application
app/wireguard

# github
_actions
_PipelineMapping
actions-runner
