*.bak
*.db
*.db-shm
*.db-wal
*.domains
*.gsb
*.key
*.log
*.pem
*.rdb
*.sha1
*.sqlite
*.sqlite3
*.swp
.env
.secrets
_PipelineMapping
_actions
acme.json
dhcp.leases
gravity.db_temp*
keys.json
letsencrypt
nginx-proxy-manager/letsencrypt-acme-challenge
nginx-proxy-manager/logs
portainer
sed*
setupVars.conf
tailscale
