networks:
  backend:
    ipam:
      config:
        - subnet: 172.52.0.0/16
services:
  adguard:
    container_name: adguard
    dns:
      - 76.76.2.2
      - 76.76.10.2
    hostname: adguard
    image: adguard/adguardhome
    labels:
      homepage.description: Ad-Blocking DNS Server
      homepage.group: Core
      homepage.href: https://adguard.${DOMAIN:?no domain provided}
      homepage.icon: adguard-home
      homepage.name: AdGuard Home 1
      homepage.widget.password: ${ADMIN_PASSWORD:?no admin password provided}
      homepage.widget.type: adguard
      homepage.widget.url: https://adguard-1.${DOMAIN}
      homepage.widget.username: ${ADMIN_USERNAME:?no admin username provided}
      traefik.enable: true
      traefik.http.routers.adguard.rule: Host(`adguard-1.${DOMAIN}`) || Host(`adguard.${DOMAIN}`) || Host(`adguard.stargate.${DOMAIN}`)
      traefik.http.services.adguard.loadbalancer.server.port: 80
    networks:
      backend:
        ipv4_address: 172.52.0.10
      default: {}
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 853:853/tcp
      - 853:853/udp
      - 3000:3000/tcp
      - 5443:5443/tcp
      - 5443:5443/udp
      - 6061:6060/tcp # conflicts with crowdsec
      - 8843:443/tcp
      - 8880:80/tcp
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/adguard/conf:/opt/adguardhome/conf
      - ${CONFIG_PATH:-./docker}/adguard/work:/opt/adguardhome/work
  adguard-sync:
    command: run --config /config/adguardhome-sync.yaml
    container_name: adguard-sync
    image: ghcr.io/bakito/adguardhome-sync
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/adguard/sync/adguardhome-sync.yaml:/config/adguardhome-sync.yaml
  beszel-agent:
    container_name: beszel-agent
    environment:
      KEY: ${BESZEL_KEY:?no beszel key provided}
      LISTEN: 45876
    image: henrygd/beszel-agent
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  cadvisor:
    container_name: cadvisor
    devices:
      - /dev/kmsg
    image: gcr.io/cadvisor/cadvisor:latest
    ports:
      - 8081:8080
    privileged: true
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
  cloudflared:
    command: tunnel --no-autoupdate run
    container_name: cloudflared
    environment:
      TUNNEL_TOKEN: ${CLOUDFLARED_TOKEN:?no cloudflared token provided}
    image: cloudflare/cloudflared
    restart: unless-stopped
  crowdsec:
    container_name: crowdsec
    environment:
      COLLECTIONS: "crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/whitelist-good-actors crowdsecurity/nginx crowdsecurity/linux crowdsecurity/base-http-scenarios crowdsecurity/http-dos crowdsecurity/sshd"
      DISABLE_ONLINE_API: "false"
      GID: "${PGID:-1000}"
      LOCAL_API_URL: "http://127.0.0.1:8080"
    image: crowdsecurity/crowdsec:latest
    labels:
      homepage.description: Collaborative IPS and threat detection
      homepage.group: Core
      homepage.href: https://app.crowdsec.net
      homepage.icon: crowdsec
      homepage.name: CrowdSec
    networks:
      backend: {}
      default: {}
    ports:
      - 8082:8080
      - 6060:6060
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/crowdsec/acquis:/etc/crowdsec/acquis.d:ro
      - ${CONFIG_PATH:-./docker}/crowdsec/config/profiles.yaml:/etc/crowdsec/profiles.yaml
      - ${CONFIG_PATH:-./docker}/crowdsec/data:/var/lib/crowdsec/data
      - /var/log:/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
  crowdsec-traefik-bouncer:
    container_name: crowdsec-traefik-bouncer
    depends_on:
      - crowdsec
    environment:
      CROWDSEC_AGENT_HOST: crowdsec:8080
      CROWDSEC_BOUNCER_API_KEY: ${CROWDSEC_BOUNCER_KEY:?no crowdsec bouncer key provided}
      GIN_MODE: release
    image: fbonalair/traefik-crowdsec-bouncer
    labels:
      homepage.description: CrowdSec bouncer for Traefik
      homepage.group: Core
      homepage.icon: crowdsec
      homepage.name: CrowdSec Bouncer
    networks:
      backend: {}
      default: {}
    restart: unless-stopped
  ddns:
    cap_drop:
      - all
    container_name: ddns
    environment:
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN:?no cloudflare api token provided}
      DOMAINS: "*.${DOMAIN_EXT:?no external domain provided}"
      IP6_PROVIDER: none
      PROXIED: "true"
    image: favonia/cloudflare-ddns
    network_mode: host
    read_only: true
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    user: 1000:1000
  docker-socket-proxy:
    container_name: docker-socket-proxy
    environment:
      CONTAINERS: 1
      POST: 0
      SERVICES: 1
      TASKS: 1
    image: ghcr.io/tecnativa/docker-socket-proxy
    ports:
      - 0.0.0.0:2375:2375
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
  gatus:
    container_name: gatus
    image: twinproduction/gatus
    labels:
      homepage.description: Health dashboard and automatic status page
      homepage.group: Core
      homepage.href: https://status.${DOMAIN}
      homepage.icon: gatus
      homepage.name: Gatus
      homepage.widget.fields: '["up", "down", "uptime"]'
      homepage.widget.type: gatus
      homepage.widget.url: http://stargate:8888
      traefik.enable: true
      traefik.http.routers.gatus-external.middlewares: external@file
      traefik.http.routers.gatus-external.rule: Host(`status.${DOMAIN_EXT:?no external domain provided}`)
      traefik.http.routers.gatus.rule: Host(`gatus.${DOMAIN}`) || Host(`status.${DOMAIN}`)
      traefik.http.services.gatus.loadbalancer.server.port: 8080
    ports:
      - 8888:8080
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/gatus/config:/config
      - ${CONFIG_PATH:-./docker}/gatus/data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
  golink:
    cap_add:
      - NET_BIND_SERVICE
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    container_name: golink
    depends_on:
      - traefik
    image: caddy:alpine
    labels:
      homepage.description: HTTP edge proxy with go link support
      homepage.group: Core
      homepage.icon: mdi-link-variant
      homepage.name: Caddy Edge
    networks:
      backend: {}
      default: {}
    ports:
      - 80:80
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/golink/Caddyfile:/etc/caddy/Caddyfile:ro
  newt:
    container_name: newt
    environment:
      - PANGOLIN_ENDPOINT=https://pangolin.${DOMAIN}
      - NEWT_ID=${NEWT_ID:?no newt id provided}
      - NEWT_SECRET=${NEWT_SECRET:?no newt secret provided}
    image: fosrl/newt
    restart: unless-stopped
  node-exporter:
    command:
      - --path.rootfs=/host
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    container_name: node-exporter
    image: quay.io/prometheus/node-exporter
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - /:/host:ro,rslave
  ntfy:
    command:
      - serve
    container_name: ntfy
    environment:
      TZ: UTC
    healthcheck:
      interval: 60s
      retries: 3
      start_period: 40s
      test:
        - CMD-SHELL
        - wget -q --tries=1 http://localhost:80/v1/health -O - | grep -q '"healthy":true' || exit 1
      timeout: 10s
    hostname: ntfy
    image: binwiederhier/ntfy
    labels:
      homepage.description: Push notifications to phone or desktop
      homepage.group: Core
      homepage.href: https://ntfy.${DOMAIN}
      homepage.icon: ntfy
      homepage.name: ntfy
      traefik.enable: true
      traefik.http.routers.ntfy.rule: Host(`ntfy.${DOMAIN}`)
      traefik.http.services.ntfy.loadbalancer.server.port: 80
    ports:
      - 8001:80
    restart: unless-stopped
    user: "1000:1000"
    volumes:
      - ${CONFIG_PATH:-./docker}/ntfy/cache:/var/cache/ntfy
      - ${CONFIG_PATH:-./docker}/ntfy/config/server.yml:/etc/ntfy/server.yml:ro
      - ${CONFIG_PATH:-./docker}/ntfy/data:/var/lib/ntfy
  orb:
    container_name: orb
    image: orbforge/orb
    labels:
      com.centurylinklabs.watchtower.enable: true
      com.centurylinklabs.watchtower.scope: orb
    network_mode: host
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/orb:/root/.config/orb
  tailscale:
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    container_name: tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      TS_AUTH_KEY: ${TAILSCALE_AUTH_KEY:?no tailscale auth key provided}
      TS_AUTH_ONCE: "true"
      TS_EXTRA_ARGS: --accept-routes=true --advertise-routes=${LAN_CIDR:-192.168.0.0/24} --advertise-exit-node=true
      TS_HOSTNAME: stargate
      TS_ROUTES: ${LAN_CIDR:-192.168.0.0/24}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: "false"
    hostname: stargate
    image: tailscale/tailscale
    labels:
      homepage.description: Private WireGuard Network
      homepage.group: Core
      homepage.href: https://login.tailscale.com/admin/machines
      homepage.icon: tailscale
      homepage.name: Tailscale
      homepage.widget.deviceid: ${TAILSCALE_DEVICE_ID:?device ID required on new devices}
      homepage.widget.key: ${TAILSCALE_DEVICE_KEY:?no device key provided}
      homepage.widget.type: tailscale
    restart: unless-stopped
    volumes:
      - /dev/net/tun:/dev/net/tun
      - ${CONFIG_PATH:-./docker}/tailscale:/var/lib/tailscale
  traefik:
    command:
      - --accesslog=true
      - --accesslog.format=json
      - --api.dashboard=true
      - --api.insecure=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.storage=/etc/letsencrypt/acme.json
      - --entrypoints.golinks.address=:8090
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=${DOMAIN}
      - --entrypoints.websecure.http.tls.domains[0].sans=*.k8s.${DOMAIN},*.prod.${DOMAIN},*.dev.${DOMAIN},*.nexus.${DOMAIN},*.stargate.${DOMAIN},*.watchtower.${DOMAIN},*.${DOMAIN},*.${DOMAIN_EXT}
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.middlewares=internal@file
      - --log.level=INFO
      - --providers.docker.defaultRule=Host(`{{ normalize .Name }}.${DOMAIN}`)
      - --providers.docker.exposedbydefault=false
      - --providers.docker=true
      - --providers.file.filename=/etc/traefik/dynamic.yaml
      - --providers.file.watch=true
      - --serverstransport.insecureskipverify=true
    container_name: traefik
    depends_on:
      - crowdsec-traefik-bouncer
    environment:
      CLOUDFLARE_DNS_API_TOKEN: ${CLOUDFLARE_API_TOKEN:?no cloudflare api token provided}
      CLOUDFLARE_EMAIL: ${CLOUDFLARE_EMAIL:?no cloudflare email provided}
      TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL: ${CLOUDFLARE_EMAIL:?no cloudflare email provided}
    extra_hosts:
      - host.docker.internal:172.17.0.1
    hostname: traefik
    image: traefik
    labels:
      homepage.description: Reverse proxy for exposing apps via HTTPS
      homepage.group: Core
      homepage.href: https://traefik-1.${DOMAIN}
      homepage.icon: traefik
      homepage.name: Traefik 1
      homepage.widget.type: traefik
      homepage.widget.url: http://stargate:8080
    networks:
      backend: {}
      default: {}
    ports:
      - 443:443
      - 8080:8080
      - 9080:80
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/letsencrypt:/etc/letsencrypt
      - ${CONFIG_PATH:-./docker}/traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
  uptime-kuma:
    container_name: uptime-kuma
    hostname: uptime-kuma
    image: louislam/uptime-kuma:1
    labels:
      homepage.description: Component Health Tracking and Alerting
      homepage.group: Core
      homepage.href: https://uptime-kuma.${DOMAIN}
      homepage.icon: uptime-kuma
      homepage.name: Uptime Kuma
      homepage.widget.slug: technis
      homepage.widget.type: uptimekuma
      homepage.widget.url: http://stargate:3001
      traefik.enable: true
      traefik.http.routers.uptime-kuma-external.middlewares: external@file
      traefik.http.routers.uptime-kuma-external.rule: Host(`uptime.${DOMAIN_EXT}`)
      traefik.http.routers.uptime-kuma.rule: Host(`uptime-kuma.${DOMAIN}`) || Host(`uptime.${DOMAIN}`)
      traefik.http.services.uptime-kuma.loadbalancer.server.port: 3001
    ports:
      - 3001:3001
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./docker}/uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
  watchtower:
    container_name: watchtower
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_DEBUG: "true"
      WATCHTOWER_SCHEDULE: 0 0 1 * * *
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  whoami:
    container_name: whoami
    image: traefik/whoami
    labels:
      homepage.description: HTTP request/response debugging
      homepage.group: Tools
      homepage.href: https://whoami.${DOMAIN}
      homepage.icon: mdi-web
      homepage.name: whoami
      traefik.enable: true
      traefik.http.routers.whoami-external.middlewares: external@file
      traefik.http.routers.whoami-external.rule: Host(`whoami.${DOMAIN_EXT}`)
      traefik.http.routers.whoami.rule: Host(`whoami.${DOMAIN}`)
      traefik.http.services.whoami.loadbalancer.server.port: 80
    restart: unless-stopped
