# /etc/systemd/system/stargate.service

[Unit]
Description=Stargate Composition
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/stargate
EnvironmentFile=/var/lib/stargate/.env
ExecReload=/usr/bin/docker-compose $PROFILE stop \
  /usr/bin/docker-compose $PROFILE pull \
  /usr/bin/docker-compose $PROFILE up -d
ExecStart=/usr/bin/docker-compose $PROFILE up
ExecStop=/usr/bin/docker-compose $PROFILE down -v

[Install]
WantedBy=multi-user.target
