# /etc/systemd/system/stargate.service

[Unit]
Description=Stargate Composition
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/stargate
EnvironmentFile=/var/lib/stargate/.env
ExecStartPre=/usr/bin/docker-compose $EXTRA_ARGS pull
ExecStart=/usr/bin/docker-compose $EXTRA_ARGS up $EXTRA_UP_ARGS
ExecReload=/usr/bin/docker-compose $EXTRA_ARGS up -d $EXTRA_UP_ARGS
ExecStop=/usr/bin/docker-compose $EXTRA_ARGS down -v

[Install]
WantedBy=multi-user.target
